{% extends '/emails/layout.html.twig' %}

{% block content %}

    <h3>Hello {{ user.userName }},</h3>
    <p>You recently requested to create a SnowTricks account. Click the button below to activate it.</p>
    <div class="reset-link-container">
        <a class="reset-link" href="{{ url }}" target="_blank">Activate your account</a>
    </div>
    <p>If you did not request an account creation, please ignore this email or reply us to let us know.</p>
    <p>Thanks,<br />The SnowTricks Team</p>

{% endblock %}
