{% for trick in trick_list %}
    <div class="col-xl-2dot4 col-lg-3 col-md-4 col-sm-6 d-flex ftco-animate">
        <div class="blog-entry justify-content-end">
            <a href="{{ path('single_trick', {trickSlug: trick.slug}) }}" class="block-20" style="background-image: url('/gallery/{{ trick.media|first.url }}');"></a>
            <div class="text p-4 float-right d-block">
                <div class="trick-heading">
                    <div class="trick-title">
                        <h3 class="heading mt-2">
                            <a href="{{ path('single_trick', {trickSlug: trick.slug}) }}">{{ trick.name }}</a>
                        </h3>
                    </div>
                    <div class="trick-links">
                        <a href="" class="oi oi-pencil"></a>
                        <a href="" class="oi oi-trash"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
