{% extends 'layout.html.twig' %}

{% block title %}SnowTricks - Reset password{% endblock %}

{% block content %}
    
    <div class="user-page">

        <section class="ftco-section">

            <div class="container bg-light">

                <div class="row d-flex heading">
                    <div class="col ftco-animate text-center">
                        <h1><a href="{{ path('app_reset_password')}}">Reset password</a></h1>
                        <h2 class="subheading">Create a new password</h2>
                    </div>
                </div>

                <div class="row d-flex form">
                    <div class="col ftco-animate text-center">
                        
                        <form method="post">

                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                                
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endfor %}

                            <div class="form-group">
                                <label for="inputPassword">New password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Choose a password (6 to 20 cars)" required autofocus>
                                <input type="hidden" name="token" value="{{ token }}">
                            </label>
                            <button type="submit" class="btn py-3 px-4 btn-primary">Reset</button>

                        </form>

                    </div>
                </div>

            </div>

        </section>

    </div>

{% endblock %}
